body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #D32F2F; /* Rojo oscuro */
  --primary-color-text: #ffffff; /* Texto blanco en botones */
  --highlight-bg: #FFCDD2; /* Fondo de resaltado */
  --highlight-text-color: #D32F2F; /* Texto resaltado */
}